footer {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    bottom: 0;
    position: fixed;
}

.div-footer {
    text-align: center; 
}

.h3-footer {
    color: #fff;
    font-family: var(--font-family);
    font-size: 0.75rem; 
    line-height: 19.07px;
    font-weight: 400;
}

@media (max-width: 768px) {
    footer {
        padding: 10px;
        position: fixed;
        bottom: 0;
    }

    .h3-footer {
        font-size: 0.65rem; 
    }
}