body{
    font-family:var(--font-family);
}

:root{
    --font-family: "Open Sans", sans-serif;

    --color-black: #0000;
    --color-gray: #969ca186;
    --color-gray-2: #666666;
    --color-orange: #FB953E;
}