body{
    font-family:var(--font-family);
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1;
    width: 100%;
}
:root{
    --font-family: "Open Sans", sans-serif;

    --color-black: #0000;
    --color-gray: #969ca186;
    --color-gray-2: #666666;
    --color-orange: #FB953E;
}
