

.list-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
} 

.input-div{
    display: flex;
    gap: 10px;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
}


.text-title{
    font-family: var(--font-family);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 21.19px;
    color: #333333;
} 
.div-products-container{
    width: 80%;
}
.button-add{
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.07px;
    width: 175px;
    background-color: #FB953E;
    border: 1px solid #000;
    height: auto;
    padding: 5px;
} 

.options-main{
    width: 80%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
}

.ul-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
}

.label-text{
    font-family: var(--font-family);
}

.size-option{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    width: 32px;
    height: 32px;
    border: 1px solid #00000075;
    color: #00000075;
    line-height: 21.79px;
}

.div-button-add{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.size-option:hover{
    border: 1px solid #FB953E;
    color: black;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}
.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.div-container-filters-size{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
}


.div-buttons-size{
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 170px;
}




.title-blouses{
    font-family: var(--font-family);
    font-size: 2rem;
    color: #333333;
    font-weight: 400;
    line-height: 43.58px;
}

@media(min-width: 700px){
    .buttons-mobile{
        display: none;
    }
}


input[type=checkbox] {
    position: relative;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #00000075;
    background-color: #00000000;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    background-color: #00000000;
}



input[type=checkbox]:checked:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 2px;
    left: 2px;
    background-color: #FB953E;
}